body {
    margin: 20px;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    white-space: nowrap; 
}

.box {
    display: inline-block;
    width: 100px;
    height: 150px;
    margin-right: 10px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    padding-left: 10px;
    line-height: 150px; 
    transition: 0.3s;
}

.box:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}

.special {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 150px;
    margin: 0;
    line-height: 150px; 
}
